*{
    font-family:Montserrat;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    
}

/* ------------------------NAVBAR-------------------------- */
nav{
    display:flex;
    justify-content:space-evenly;
    align-items:center;  
  
    /* margin:16px 0px; */
    scale:0.8;
    transform:skew(-15deg);
    font-size:20px;
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
    a{color:white;}
    font-weight:500;
    
}
.logo{
    scale:1.2;
    transform:skew(15deg);

}
.navv{
    display:flex;
    justify-content:space-around;
    align-items:center; 
    width:40%;
    height:162px;

   
}

.navv{
    position:relative;
}
.navv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(255,255,255,0.9),rgba(0,0,0,0.9));
}
.navv::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(255,255,255,0.9),rgba(0,0,0,0.9));
}
/* -------------------------------------------------- */

/* --------------------BODY------------------------------ */
.bodyy{
    width:100%;
    height:100vh;
    background-image:url(../public/home-banner-new-design-s12.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;

}
/* -------------------PART 2------------------------------- */

.part2{
    width:100%;
    height:200vh;
    background-image:url(../public/description-bg-new.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
.scroll{
    color:white;
    font-size:32px;
    letter-spacing:72px;
}
.scrollcontainer{
    width:100%;
    height:20vh;
    justify-content: center;
    background-color:transparent;
    display:flex;
    align-items:center;
    position:relative;
    
}
.line{
    width:2px;
    height:248px;
    background-color:white;
    position:absolute;
    top:40px;
    right:790px;
}
.teamdescription{

    width:80%;
    height:60%;
    display:flex;
    justify-content: center;


    p{
        color:#ff7500;
        font-weight:800;
        font-size:56px;
    }
}
.playercarousel{
    width:100%;
    height:65vh;
    background-color:transparent;
    display:flex;   
}
.carouseltitle{
    width:40%;
    color:#ff7500;
    display:flex;
    justify-content: center ;
    align-items:center;
    font-size:84px;
    font-weight:600;
}
.players{
    width:60%;
    background-color: #ff7500;
}
.fixtures{
    width:100%;
    height:80vh;
    background-image:url(../public/fixtures-bg.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items:center;
}

.container1{
    width:60%;
    height:80%;
    background-color:#2b2521;
    transform:skew(-20deg);
    display:flex;
    position:relative;
}
.subcontain1{
    width:50%;
    height:100%;
    background-color:#2b2521;  
    display:flex;
}
.buyticket{
    width:100%;
    height:100%;
    background-image:url(../public/buy-tickets-homepage_s12.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    transform:skew(20deg);
}
.buyticketbtn{
    width:172px;
    height:42px;
    background-color:#ff7500;
    position:absolute;
    right:48%;
    top:45%;
    color:white;
    font-size:20px;
    letter-spacing:2px;
    border-top:white 2px solid;
    border-bottom:white 2px solid;
    border-right:white 2px solid;
    border-left:transparent;
}
.subcontain2{
    width:50%;
    height:100%;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center; 
}
.tickets{
    height:80%;
    width:80%;
    display:flex;
    justify-content: center;
    align-items:center;

    img{
        scale:0.85
    }
}

/* -------------------------------------------------- */

.paltanworld{
    width:100%;
    height:70vh;
    background-image:url(../public/paltan-world-homepage_s12.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content: right;
    align-items:center;
}
.pp{
    height:100%;
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:transparent;
    
}
#paltanorange{
    color:#ff7500;
    font-size:72px;
    font-weight:700;
}
#worldwhite{
    color:white;
    font-size:84px;
    font-weight:700;
}
#paltanworldenter{
     width:172px;
    height:42px;
    background-color:#ff7500;
    transform:skew(-15deg);
    color:white;
    font-size:20px;
    letter-spacing:2px;
    border-top:white 2px solid;
    border-bottom:white 2px solid;
    border-right:white 2px solid;
    border-left:transparent;
} 
/* -------------------------NEWS------------------------- */

.news{
    width:100%;
    height:100vh;
    background-image:url(../public/news-bg.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position:relative;
}
.newsbox{
    width:70%;
    height:70%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-image:url(../public/news-banner.jpg);
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    position:relative;
}
#puneripaltan{
    color:#ff7500;
    font-size:72px;
    font-weight:600;
}
#inthenews{
    color:white;
    font-size:64px;
    font-weight:700;
}
#newsenterbtn{
       width:172px;
    height:42px;
    background-color:#ff7500;
    transform:skew(-15deg);
    color:white;
    font-size:20px;
    letter-spacing:2px;
    border-top:white 2px solid;
    border-bottom:white 2px solid;
    border-right:white 2px solid;
    border-left:transparent;  
    position:absolute;
    bottom:-20px;
}
.newsletter{
    color:white;
    width:90%;
    height:100px;
    background-color:#ff7500;
    transform:skew(-15deg);
    position:absolute;
    bottom:-40px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:24px;
}
#newsletterinp{
    color:black;
    width:512px;
    height:42px;
    background-color:white;
    transform:skew(-10deg);
    border:transparent;
    outline:transparent;
    padding:0px 20px;

}
#newsletterinp::placeholder{
    font-size:18px;
}
#subsnewsletter{
    font-size:32px;
    font-weight: 600;
}

#gobtn{
    width:64px;
    height:42px;
    background-color:#ff7500;
    transform:skew(-10deg) ;
    color:white;
    font-size:16px;
    letter-spacing:2px;
   border:white 2px solid;
    
}
/* -------------------------NEWS------------------------- */

.partners{
    width:100%;
    height:150vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:32px;
}
#partnerstext{
    font-size:72px;
    color:#ff7500;
    font-weight:700;
}
.principalpartner{
    width:fit-content;
    height:fit-content;
    display:flex;
    flex-direction: column;
    align-items:center;
} 
.associatepartners{
    width:fit-content;
    display:flex;
}  
.associate1{
    display:flex;
    width:fit-content;
    height:fit-content;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.associate2{
    display:flex;
    width:fit-content;
    height:fit-content;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.copartner{
    width:fit-content;
    height:fit-content;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}
.wellnesspartner{
     width:fit-content;
    height:fit-content;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}
.kitpartner{
    width:fit-content;
    height:fit-content;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center; 
}
/* -------------------------Footer------------------------- */

.footer{
    width:100%;
    height:15vh;
    background-color:black;
    display:flex;
}
.copyright{
    width:33%;
    height:100%;
    background-color:transparent;
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
}
.footericons{
    width:33%;
    height:100%;
    background-color:transparent;
    display:flex;
    gap:32px;
    justify-content: center;
    align-items:center;
}
.icc{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:#2b2521;
    display:flex;
    justify-content:center;
    align-items:center;
    scale:1.3;
}
.footerlogo{
    width:33%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    
}







