*{
    font-family:Montserrat;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    
}

/* ------------------------NAVBAR-------------------------- */
nav{
    display:flex;
    justify-content:space-evenly;
    align-items:center;  
  
    /* margin:16px 0px; */
    scale:0.8;
    transform:skew(-15deg);
    font-size:20px;
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
    a{color:white;}
    font-weight:500;
    
}
.logo{
    scale:1.2;
    transform:skew(15deg);

}
.navv{
    display:flex;
    justify-content:space-around;
    align-items:center; 
    width:40%;
    height:162px;

   
}

.navv{
    position:relative;
}
.navv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(255,255,255,0.9),rgba(0,0,0,0.9));
}
.navv::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(255,255,255,0.9),rgba(0,0,0,0.9));
}
/* -------------------------------------------------- */

/* --------------------BODY------------------------------ */
.bodyy{
    width:100%;
    height:100vh;
    background-image:url(../public/home-banner-new-design-s12.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;

}
/* -------------------PART 2------------------------------- */

.part2{
    width:100%;
    height:200vh;
    background-image:url(../public/description-bg-new.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
.scroll{
    color:white;
    font-size:32px;
    letter-spacing:72px;
}
.scrollcontainer{
    width:100%;
    height:20vh;
    justify-content: center;
    background-color:transparent;
    display:flex;
    align-items:center;
    position:relative;
    
}
.line{
    width:2px;
    height:248px;
    background-color:white;
    position:absolute;
    top:40px;
    right:790px;
}
.teamdescription{

    width:80%;
    height:60%;
    display:flex;
    justify-content: center;


    p{
        color:#ff7500;
        font-weight:800;
        font-size:56px;
    }
}
.playercarousel{
    width:100%;
    height:65vh;
    background-color:transparent;
    display:flex;   
}
.carouseltitle{
    width:40%;
    color:#ff7500;
    display:flex;
    justify-content: center ;
    align-items:center;
    font-size:84px;
    font-weight:600;
}
.players{
    width:60%;
    background-color: #ff7500;
}
.fixtures{
    width:100%;
    height:80vh;
    background-image:url(../public/fixtures-bg.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items:center;
}

.container1{
    width:60%;
    height:80%;
    background-color:#2b2521;
    transform:skew(-20deg);
    display:flex;
    position:relative;
}
.subcontain1{
    width:50%;
    height:100%;
    background-color:#2b2521;  
    display:flex;
}
.buyticket{
    width:100%;
    height:100%;
    background-image:url(../public/buy-tickets-homepage_s12.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    transform:skew(20deg);
}
.buyticketbtn{
    width:172px;
    height:42px;
    background-color:#ff7500;
    position:absolute;
    right:48%;
    top:45%;
    color:white;
    font-size:20px;
    letter-spacing:2px;
    border-top:white 2px solid;
    border-bottom:white 2px solid;
    border-right:white 2px solid;
    border-left:transparent;
}
.subcontain2{
    width:50%;
    height:100%;
    
}
/* -------------------------------------------------- */




